.two-blocks{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:space-center;

}

.ma a {
    text-decoration: none;
    margin-right: 1em;
    border-bottom: 1px solid red;
}


.maain a {
    text-decoration: none;
    margin-right: 1em;
    border-bottom: 1px solid red;
}

.block-one{
    border: 1px solid black;
    margin-left: 10em;
    margin-right: 1em;
}
.block-two{
    border:1px solid black;
    margin-right: 10em;
}
.first-image{
    width: 50%;
    height: 80%;
}
.second-image{
    width: 50%;
    height: 80%;
}
.footer{
    display: flex;
}
.first{
    border-right: 2px solid black;
}
.second{
    padding-left: .5em;
}
.navigation {
    display: flex;
}
.login a{
    padding-left: 2em;
    text-decoration: none;
}
.sign a{
    text-decoration: none;
}

.login{
    margin-left: 2em;
    color: black;
    text-decoration: none;
}
.join2{
    border-width: thin;
    margin-left: 2em;
    border-top:solid red;
    border-bottom:solid red; 
}
p{
    font-weight: bold;
    color: black;
    padding-left: 2em;
    margin: 0;
}
hr{
    margin-top: 1em;
    margin-bottom: 2em;
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 1.3em;
}
.text-login{
    color: black;
    text-decoration: none;
}
.join{
    margin-left: .5em;
    border-width: thin;
    border-top:solid red;
    border-bottom:solid red;
}
.nav{
    display: flex;
    flex-direction: row;
    
}
.buttons{
    margin-top: 0;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
}
.signup{
    padding-left: 2em;
    padding-right: 2em;
    background-color:greenyellow;
    border:3px solid black;
}
.cancel{
    padding-left: 2em;
    padding-right: 2em;
    background-color:red;
    border:3px solid black;
}
.buttons2{
    display: flex;
    flex-direction: row;
    margin-left: 2em;
}
.green{
    padding-left: 2em;
    padding-right: 2em;
    background-color:greenyellow;
    border:3px solid black;
}
.blue{
    padding-left: 2em;
    padding-right: 2em;
    background-color:lightblue;
    border:3px solid black;
}
.end{
    margin-top: .2em;
}
a:hover{
    background-color: yellow;
}
a:visited{
    color: chartreuse;
}